<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            margin: 0;
            background-color: #f6f5f5;
        }

        .sidebar {
            height: 100vh;
        }

        .custom {
            width: 100% !important;
        }

        .myContainer {
            max-width: 250px;
            padding: 15px;
            margin: auto;
        }

        .form-group {
            text-align: center;
            margin: 0 auto;
        }

        .text {
            margin: 0 auto;
        }
    </style>

    <title>Добро пожаловать</title>

</head>
<body>

<!-- Nav bar -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <strong><span th:text="${adminDetails.getUsername()}">Login</span></strong>
                <span th:text="' with roles: '"> with roles </span>
                <span th:each="role : ${adminDetails.getAuthorities()}"
                      th:text="${role.getAuthority()} + ' '"> Roles </span>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a th:href="@{/logout}" class="text-muted"> Logout </a>
            </li>
        </ul>
    </nav>
</div>
<!--  боковые кнопки -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-white sidebar p-0">
            <ul class="nav nav-pills btn-group-vertical" id="myPill" role="tablist">
                <li class="nav-item custom">
                    <a class="nav-link active" id="tab-admin" data-toggle="tab"
                       href="#content-admin"
                       role="tab" aria-controls="content-admin" aria-selected="true">
                        Admin
                    </a>
                </li>

                <li class="nav-item custom">
                    <a class="nav-link" id="tab-user" data-toggle="tab"
                       href="#content-user"
                       role="tab" aria-controls="content-user" aria-selected="false">
                        User
                    </a>
                </li>
            </ul>
        </div>

        <!-- Контент боковых кнопок -->
        <div class="col-10 offset-2 m-0 p-4">
            <!-- Контент боковой кнопки admin -->
            <div class="tab-content" id="myPillContent">
                <div class="tab-pane fade show active" id="content-admin"
                     role="tabpanel" aria-labelledby="tab-admin">
                    <p class="bold h1">Admin panel</p>
                    <div class="tab-pane active" id="adminPanel">

                        <!-- Вкладки панели Админа -->
                        <ul class="nav nav-tabs" id="myAdminTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-usersList" data-toggle="tab"
                                   href="#content-userList"
                                   role="tab" aria-controls="content-userList" aria-selected="false">
                                    Users table
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-newUser" data-toggle="tab"
                                   href="#content-newUser"
                                   role="tab" aria-controls="content-newUser" aria-selected="false">
                                    New User
                                </a>
                            </li>
                        </ul>

                        <!-- Контент панели Админа -->
                        <div class="tab-content" id="myAdminTabContent">

                            <!-- Users table with all users -->
                            <div class="tab-pane fade show active" id="content-userList"
                                 role="tabpanel" aria-labelledby="tab-usersList">
                                <div class="card">
                                    <div class="card-header"><strong>All users</strong></div>
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <th scope="row">Id</th>
                                            <th scope="row">First Name</th>
                                            <th scope="row">Last Name</th>
                                            <th scope="row">Age</th>
                                            <th scope="row">Email</th>
                                            <th scope="row">Role</th>
                                            <th scope="row">Edit</th>
                                            <th scope="row">Delete</th>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user: ${userList}">
                                                <td th:text="${user.id}">Id</td>
                                                <td th:text="${user.firstName}">First Name</td>
                                                <td th:text="${user.lastName}">Last Name</td>
                                                <td th:text="${user.age}">Age</td>
                                                <td th:text="${user.email}">Email</td>
                                                <td>
                                                    <a th:each="role :${user.roles}"
                                                       th:text="${role.name} + ' '">Roles</a>
                                                </td>
                                                <!-- Edit Modal -->
                                                <td>
                                                    <a th:href="@{'/admin/edit/' + ${user.getId()}}" id="editLink"
                                                       class="btn btn-info">Edit</a>
                                                    <div class="modal fade" id="editModal">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <!-- Delete Modal -->
                                                <td>
                                                    <a th:href="@{'/admin/delete/' + ${user.getId()}}" id="deleteLink"
                                                       class="btn btn-danger">Delete</a>
                                                    <div class="modal fade" id="deleteModal">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Form for adding new user +++ -->
                            <div class="tab-pane fade" id="content-newUser"
                                 role="tabpanel" aria-labelledby="tab-newUser">
                                <div class="card">
                                    <div class="card-header"><strong>Add new user</strong></div>
                                    <div class="card-body col-md-6 col-md-offset-3 myContainer">
                                        <form id="defaultSomeForm">
                                            <div class="form-group">
                                                <label class="small text"><strong>First
                                                    Name</strong></label>
                                                <input type="text" class="form-control"
                                                       id="AddNewUserFirstName"
                                                       placeholder="First Name"
                                                       required minlength="4" maxlength="20"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small text"><strong>Last
                                                    Name</strong></label>
                                                <input type="text" class="form-control"
                                                       id="AddNewUserLastName"
                                                       placeholder="Last Name" required minlength="4"
                                                       maxlength="20"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small text"><strong>Age</strong></label>
                                                <input type="number" class="form-control"
                                                       id="AddNewUserAge"
                                                       placeholder="Age"
                                                       required min="18" max="120"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small text"><strong>Email</strong></label>
                                                <input type="email" class="form-control"
                                                       id="AddNewUserEmail"
                                                       placeholder="Email"
                                                       required minlength="8" maxlength="254"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small text"><strong>Password</strong></label>
                                                <input type="password" class="form-control"
                                                       id="AddNewUserPassword"
                                                       placeholder="Password"
                                                       required minlength="4" maxlength="10"/>
                                            </div>
<!--                                            <div class="form-group">-->
<!--                                                <label class="small text"><strong>Role</strong></label>-->
<!--                                                <select id="editRole" name="roles" class="form-control"-->
<!--                                                        th:size="${allRoles.size()}" required>-->
<!--                                                    <th:block th:each="role : ${allRoles}">-->
<!--                                                        <option>-->
<!--                                                            <th:block th:text="${role.name}"/>-->
<!--                                                        </option>-->
<!--                                                    </th:block>-->
<!--                                                </select>-->
<!--                                            </div>-->
                                            <br/>
                                            <div class="text-center">
                                                <button type="button" class="btn btn-success align-middle"
                                                        id="addNewUserButton">Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Контент боковой кнопки Юзера -->
                <div class="tab-pane fade" id="content-user"
                     role="tabpanel" aria-labelledby="tab-user">
                    <p class="bold h1">User information-page</p>
                    <div class="card">
                        <div class="card-header"><strong>About user</strong></div>
                        <div class="card-body p-3">
                            <table class="table table-striped">
                                <tr>
                                    <thead>
                                    <th scope="row">Id:</th>
                                    <th scope="row">Имя:</th>
                                    <th scope="row">Фамилия:</th>
                                    <th scope="row">Age:</th>
                                    <th scope="row">Email:</th>
                                    </thead>
                                </tr>
                                <tbody>
                                <td th:text="${adminDetails.id}">Id:</td>
                                <td th:text="${adminDetails.firstName}">First Name:</td>
                                <td th:text="${adminDetails.lastName}">Last Name</td>
                                <td th:text="${adminDetails.age}">Age</td>
                                <td th:text="${adminDetails.email}">Email</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="webjars/jquery/3.4.1/jquery.js"></script>
<script src="webjars/popper.js/1.16.0/umd/popper.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/admin.js"></script>

<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        $('table #editLink').on("click", function (e) {-->
<!--            e.preventDefault();-->
<!--            $("#editModal").modal("show").find(".modal-content").load($(this).attr("href"));-->
<!--        });-->

<!--        $('table #deleteLink').on("click", function (e) {-->
<!--            e.preventDefault();-->
<!--            $("#deleteModal").modal("show").find(".modal-content").load($(this).attr("href"));-->
<!--        });-->
<!--    });-->

<!--</script>-->

</body>
</html>