<div class="modal-header">
    <h4 class="modal-title" id="modalEditTitle">Edit User</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<form th:action="@{/admin/{id}(id=${updateUser.id})}" th:object="${updateUser}" th:method="patch">
    <div class="modal-body">
        <div>
            <label for="firstName">Имя: </label>
            <input type="text" th:field="*{firstName}" id="firstName"
                   required minlength="2" maxlength="20"/>
        </div>
        <br/>
        <div>
            <label for="lastName">Фамилия: </label>
            <input type="text" th:field="*{lastName}" id="lastName"
                   required minlength="2" maxlength="20"/>
        </div>
        <br/>
        <div>
            <label for="email">Email: </label>
            <input type="text" th:field="*{email}" id="email"
                   required minlength="8" maxlength="254"/>
        </div>
        <br/>
        <div>
            <label for="city">Город: </label>
            <input type="text" th:field="*{city}" id="city"
                   required minlength="2" maxlength="20"/>
        </div>
        <br/>
        <div>
            <label for="username">Логин: </label>
            <input type="text" th:field="*{username}" id="username"
                   required minlength="2" maxlength="20"/>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Login error:</div>
        </div>
        <br/>
        <div>
            <label for="password">Пароль: </label>
            <input type="text" th:field="*{password}" id="password" readonly/>
        </div>
        <br/>
        <div>
            <br/>
            <label>Выберите роль: </label>
            <select id="editRole" name="roles" class="form-control" multiple>
                <th:block th:each="role : ${allRoles}">
                    <option>
                        <th:block th:text="${role.name}"/>
                    </option>
                </th:block>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>