<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Все пользователи</title>
</head>
<body>

<!-- All Users List -->
<div class="tab-pane active" id="adminPanel">
    <div class="card">
        <div class="card-header">All users</div>
        <div class="card-body">
            <table class="table table-striped">
                <caption>Список пользователей</caption>
                <thead>
                <th scope="row">Имя</th>
                <th scope="row">Фамилия</th>
                <th scope="row">Email</th>
                <th scope="row">Город</th>
                <th scope="row">Логин</th>
                <th scope="row">Пароль</th>
                <th scope="row">Роли</th>
                <th scope="row">Edit</th>
                <th scope="row">Delete</th>
                </thead>
                <tbody>
                <tr th:each="user: ${userList}">
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.city}">City</td>
                    <td th:text="${user.username}">Username</td>
                    <td th:text="${user.password}">Password</td>
                    <td>
                        <a th:each="role :${user.roles}" th:text="${role.name} + ' '">Roles</a>
                    </td>
                    <!-- Edit Modal -->
                    <td>
                        <a th:href="@{'/admin/edit/' + ${user.getId()}}" id="editLink" class="btn btn-info">Edit</a>
                        <div class="modal fade" id="editModal">
                            <div class="modal-dialog">
                                <div class="modal-content"></div>
                            </div>
                        </div>
                    </td>
                    <!-- Delete Modal -->
                    <td>
                        <a th:href="@{'/admin/delete/' + ${user.getId()}}" id="deleteLink"
                           class="btn btn-danger">Delete</a>
                        <div class="modal fade" id="deleteModal">
                            <div class="modal-dialog">
                                <div class="modal-content"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('table #editLink').on("click", function (e) {
                e.preventDefault();
                $("#editModal").modal("show").find(".modal-content").load($(this).attr("href"));
            });

            $('table #deleteLink').on("click", function (e) {
                e.preventDefault();
                $("#deleteModal").modal("show").find(".modal-content").load($(this).attr("href"));
            });
        });
    </script>

</body>
</html>

