<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--    <script type="text/javascript" src="../static/js/main.js" th:src="@{/static/js/main.js}"></script>-->

    <title>Все пользователи</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Log out"/>
    </form>
</div>

<!-- All Users List -->
<div th:align="center">
    <br/><br/>
    <div>
        <h2>Список пользователей</h2>
    </div>
    <div>
        <table th:border="1" th:cellpadding="15">
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Город</th>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Роль</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tbody>
            <tr th:each="user: ${userList}">
                <td th:text="${user.firstName}">First Name</td>
                <td th:text="${user.lastName}">Last Name</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.city}">City</td>
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.password}">Password</td>
                <td th:text="${user.roles}">Roles</td>
                <td>
                    <a th:href="@{'/admin/edit/' + ${user.getId()}}" id="editLink" class="btn btn-info">Edit</a>
                    <div class="modal fade" id="editModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <a th:href="@{'/admin/delete/' + ${user.getId()}}" id="deleteLink" class="btn btn-danger">Delete</a>
                    <div class="modal fade" id="deleteModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('table #editLink').on("click", function (e) {
            e.preventDefault();
            $("#editModal").modal("show").find(".modal-content").load($(this).attr("href"));
        });

        $('table #deleteLink').on("click", function (e) {
            e.preventDefault();
            $("#deleteModal").modal("show").find(".modal-content").load($(this).attr("href"));
        });
    });
</script>

</body>
</html>

